<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<form novalidate name="addForm" class="form-block addFormStyle" role="form" >

      <div class="form-group">
        <label for="title">(*)Required</label><br/>
        <input maxLength="500"  type="text" placeholder="Title*" name="title" ng-model="newEvent.title" ng-required="true">
      </div>

      <div class="form-group">
        <textarea maxlength="1000"  name="description" ng-model="newEvent.description" placeholder="Description"></textarea>
      </div>

      <div class="form-group">
        <input maxlength="100"  type="text" placeholder="Recipients" ng-model="newEvent.recipients"/>
      </div>

      <label for="dateInfo">Date &amp; Time</label>
      <div class="form-group">
        <input  type="date" id="add-event-date" name="dateInfo" ng-model="newEvent.due_at"/><br/>
        <input  type="time" id="add-event-time" name="timeInfo" ng-model="newEvent.due_at"/>
      </div>

      <div class="form-group">
        <input type="button" ng-disabled="addForm.$invalid" class="btn btn-primary" ng-click="returnMain()" value="Submit">
      </div>

    </form>

</div>
