<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

<div class="row top10Style" style="margin-top: 5%">

  <div ng-init="init()"> 
  <dl>
  <dt ng-click="selectVisible()" >Assignment</dt> 
  <dt ng-click="selectVisible2()">Submission</dt>
  </dl>
    <div ng-show="showI">
      <div><b>{{assignmentList[id].title}}</b>  Due Date: {{assignmentList[id].due_at}}</div>
      <div>{{assignmentList[id].description}}</div>
    </div>

    <div ng-show="show2" ng-repeat = "submission in submissionList">
      <div class="row top10Style" ng-click="toggleStudentSubmission(submission)">: {{submission.creator.first_name}} </div>
      <div ng-show="submission.show">{{submission.content}} </div>
    </div>
  </div>
</div>
</div>