<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

  <div class="row list adjustTop">

    <div ng-init="init()"> 
    
      <nav class="left">
      <label ng-class="{'selected': showAssignment===true }" ng-click="selectAssignment()">Assignment</label>
      <label ng-class="{'selected': showSubmission===true }"ng-click="selectSubmission()">Submissions</label>
      </nav>

      <main class="mainStyle">

        <div ng-show="showAssignment">
          <div><b class="assignmentTitle">{{assignmentList[id].title}}</b>  Due Date: {{transformDate(assignmentList[id].due_at)}}</div>
          <div class="assignmentBody">{{assignmentList[id].description}}</div>
        </div>

        <div ng-show="showSubmission" ng-repeat = "submission in submissionList">
          <div class="row list" ng-click="toggleStudentSubmission(submission)">
            <img ng-src="{{submission.creator.avatars.large}}" />
            <div>
          {{submission.creator.first_name}} {{submission.creator.last_name}}
            </div>
            <div>
            turned in {{transformDate(submission.submitted_at)}}
            </div>
          </div>
          <div ng-if="submission.show">{{submission.content}} </div>
        </div>

      </main>

    </div>

  </div>

</div>
